*{
    margin: 0px; 
    /* background-color: #F8EDEB; */
}

.header {
    margin: 0;
    position: sticky;
    top: 0;
    
    padding: 0;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: #F8EDEB;
    background-color: #FFB5A7;
    text-align: center;
    /* top, right, bottom, left */
}

#main-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

#btn{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* 
.navigation-menu {
    display: flex;
    position: relative;
    align-items: center;
} */



/* #button {
    margin-top: 10px;
    text-align: center;
    color: pink;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
} */

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    text-align: center;
    color: #F8EDEB;
    background-color: #FFB5A7;

}

