*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* header */

nav{
    width: 100%;
    background-color: #DDB892;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

h1{
    /* align-items: flex-start; */
    font-size: 38px;
    color: #9C6644;
}

ul{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 10px;
}

ul li{
    list-style: none;
    padding: 0px 0px;
}

ul li a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #EDE0D4;
    font-size: 19px;
    transition: 0.5s ease;
}

ul li a:hover{
    color: #7F5539;
}

ul li:active{
    color: #7F5539;
}
/* BODY */
img {
    margin-top: 50px;
    width: 250px;
  }

h2{
    margin-top: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #7F5539;
    font-size: 32px;
}
p{
    margin-top: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #7F5539;
    text-align: center;
}

.footer P{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    text-align: center;
    color: #9C6644;
    background-color: #DDB892;

}


