*{
    margin: 0; 
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: url(/icons/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

nav{
    background-color: rgb(238, 220, 197);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #9C6644;
}

nav a:hover{
    color: #e7c1a2;
}


nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;   
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menubtn{
    display: none;
}

@media(max-width: 860px){
    .hideOnMobile{
        display: none;
    }
    .menubtn{
        display: block;
    }
}
@media(max-width:450px){
    .sidebar{
        width: 100%;
    }
}

/* BODY */
.emailer{
    display: grid;
    grid-template-columns: repeat(2, 10fr);
    margin: 5px;
    column-gap: 10px;
    row-gap: 10px;
    gap: 5px;
}

.contact{

    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* FOOTER */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    text-align: center;
    color: #9C6644;
    background-color: #DDB892;

}

